<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard | Readr</title>
    <%- include('../../partials/common/head.ejs'); %>
    <link href="/assets/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/dashboard-header', {user}); %>

    <div class="p-5 bg-body-tertiary">
      <main class="container">
        <h1 class="h1 mb-5">Dashboard</h1>

        <div class="d-flex flex-column flex-lg-row align-items-stretch justify-content-start p-3 rounded-3 shadow-sm bg-body mb-5">
          <div class="col-lg-auto flex-grow-1">
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
          </div>
          <div class="d-none d-lg-block vr mx-4 opacity-10">&nbsp;</div>
          <hr class="d-lg-none" />
          <div class="col-lg-2">
            <div class="dropdown mb-3">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex justify-content-between align-items-center gap-1 w-100"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span>
                  <i class="fa fa-calendar me-2" aria-hidden="true"></i>
                  <span id="time-query-select">1 week</span>
                </span>
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item time-query-item" type="button" data-time-query="1week">1 week</button></li>
                <li><button class="dropdown-item time-query-item" type="button" data-time-query="2weeks">2 weeks</button></li>
                <li><button class="dropdown-item time-query-item" type="button" data-time-query="1month">1 month</button></li>
                <li><button class="dropdown-item time-query-item" type="button" data-time-query="6months">6 months</button></li>
                <li><button class="dropdown-item time-query-item" type="button" data-time-query="1year">1 year</button></li>
              </ul>
            </div>
            <div class="text-end">
              <div class="mb-3 p-3 bg-body-secondary rounded-3">
                <h4 class="fs-5">Total Views</h4>
                <p id="viewCount" class="fs-1 fw-bold">200</p>
              </div>
              <div class="mb-3 p-3 bg-body-secondary rounded-3">
                <h4 class="fs-5">Total Likes</h4>
                <p id="likeCount" class="fs-1 fw-bold">200</p>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <h4 class="h4 mb-3">Your Articles</h4>
          <div class="row d-flex align-items-start justify-content-between mb-3">
            <div class="col-4">
              <input class="form-control" type="text" id="articleSearch" placeholder="Search articles..." aria-label="Search articles" />
            </div>
            <!-- <div class="col-2">
              <div class="dropdown mb-3">
                <button
                  type="button"
                  class="btn bg-dark dropdown-toggle d-flex justify-content-between align-items-center gap-1 w-100"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Category
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="1week">1 week</button></li>
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="2weeks">2 weeks</button></li>
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="1month">1 month</button></li>
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="2months">2 months</button></li>
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="6months">6 months</button></li>
                  <li><button class="dropdown-item time-query-item" type="button" data-time-query="1year">1 year</button></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class=" ">
            <table class="table">
              <thead class="">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Tags</th>
                  <th scope="col">Views</th>
                  <th scope="col">Likes</th>
                  <th scope="col">Created</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="tableData">
                <tr class="">
                  <td class="" colspan="6"><div class="text-center w-100">No articles found</div></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-between">
              <div class="col-2">
                <div class="dropdown mb-3">
                  <button
                    type="button"
                    class="btn bg-dark dropdown-toggle d-flex justify-content-between align-items-center gap-1 w-100"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Select Category
                  </button>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="1week">1 week</button></li>
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="2weeks">2 weeks</button></li>
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="1month">1 month</button></li>
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="2months">2 months</button></li>
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="6months">6 months</button></li>
                    <li><button class="dropdown-item time-query-item" type="button" data-time-query="1year">1 year</button></li>
                  </ul>
                </div>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      let userId = "<%= user.id %>";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
      integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/dashboard.js"></script>
  </body>
</html>
